@import './fonts/Fragen/Fragen.css';
@import './fonts/Satoshi/Satoshi.css';

body {
    @apply font-sans text-slate-50 bg-slate-950;
}

#nuxt-devtools-container,
#nuxt-devtools-container * {
    outline: none !important;
}

/* Default transition */
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
    transition: opacity 0.15s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.btn-animation:not(:disabled) {
    animation: button-pop 0.25s ease-out;
}

.btn-animation:active:hover:not(:disabled),
.btn-animation:active:focus:not(:disabled) {
    animation: none;
    transform: scale(0.95);
}

@keyframes button-pop {
    0% {
        transform: scale(0.95);
    }

    40% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.grid-centered-4 {
    @apply col-start-2 col-span-12 lg:(col-start-3 col-span-10) xl:(col-start-4 col-span-8) 2xl:(col-start-5 col-span-6) 3xl:(col-start-6 col-span-4);
}

.grid-centered-6 {
    @apply col-start-2 col-span-12 lg:(col-start-3 col-span-10) xl:(col-start-4 col-span-8) 2xl:(col-start-5 col-span-6);
}

.grid-centered-8 {
    @apply col-start-2 col-span-12 lg:(col-start-3 col-span-10) xl:(col-start-4 col-span-8);
}

.grid-centered-10 {
    @apply col-start-2 col-span-12 lg:(col-start-3 col-span-10);
}

.grid-centered-12,
.wrap {
    @apply col-start-2 col-span-12;
}

.section-title {
    @apply font-black text-6xl;

    em {
        @apply font-serif font-light
    }
}

// Wysi styles

.prose {
    @apply font-serif font-extralight;

    h2,
    h3,
    h4 {
        @apply font-medium;
    }
}